<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "admin" %>
    <%= javascript_include_tag "admin" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="wrapper">
        <%= render "admin_header"%>
        <div id="page-wrapper" style="padding-top: 75px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                         <%= yield %>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>
